<div class="customer card">
  <div class="picture">
    <a href="#"  data-toggle="modal" data-target="#myModal">
      <img src="img/ola.jpg">
    </a>       
  </div>
  <div class="customer-info">
    <h1 class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Ola Nordmann <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Nytt program</a></li>
        <li><a href="#">Nytt notat</a></li>
        <li><a href="#">Målsamtale</a></li>
        <li><a href="#">Screeningsskjema</a></li>
        <li class="divider"></li>
        <li><a href="#">Profil</a></li>
      </ul>
    </h1>
  </div>
</div>
<div class="row">


  <!--<div class="col-md-6 col-sm-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Tabs &amp; Icons</h4>
                <p class="category">Tabs with icons and full width</p>
            </div>
            <div class="content content-full-width">
                <ul role="tablist" class="nav nav-tabs">
                    <li role="presentation" class="">
                        <a href="#icon-info" data-toggle="tab" aria-expanded="false"><i class="fa fa-info"></i> Info</a>
                    </li>
                    <li class="">
                        <a href="#icon-account" data-toggle="tab" aria-expanded="false"><i class="fa fa-user"></i> Account</a>
                    </li>
                    <li class="">
                        <a href="#icon-style" data-toggle="tab" aria-expanded="false"><i class="fa fa-cube"></i> Style</a>
                    </li>
                    <li class="active">
                        <a href="#icon-settings" data-toggle="tab" aria-expanded="true"><i class="fa fa-cog"></i> Settings</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="icon-info" class="tab-pane">
                       123Agency is a group of professional individuals looking to create amazing pieces of clothing. We have studied at the best schools of design, we have tailored the suits for the most stylish men in the industry, we are what you need!Agency is a group of professional individuals looking to create amazing pieces of clothing. We have studied at the best schools of design, we have tailored the suits for the most 
                    </div>
                    <div id="icon-account" class="tab-pane">
                        5Agency is a group of professional individuals looking to create amazing pieces of clothing. We have studied at the best schools of design, we have tailored the suits for the most stylish men in the industry, we are what you need!Agency is a group of professional individuals looking to create amazing pieces of clothing. We have studied at the best schools of design, we have tailored the suits for the most 
                    </div>
                    <div id="icon-style" class="tab-pane">
                       54Agency is a group of professional individuals looking to create amazing pieces of clothing. We have studied at the best schools of design, we have tailored the suits for the most stylish men in the industry, we are what you need!Agency is a group of professional individuals looking to create amazing pieces of clothing. We have studied at the best schools of design, we have tailored the suits for the most 
                    </div>
                    <div id="icon-settings" class="tab-pane active">
                       765 Agency is a group of professional individuals looking to create amazing pieces of clothing. We have studied at the best schools of design, we have tailored the suits for the most stylish men in the industry, we are what you need!Agency is a group of professional individuals looking to create amazing pieces of clothing. We have studied at the best schools of design, we have tailored the suits for the most 
                    </div>
               </div>

            </div>
        </div>
    </div>-->
  <div class="col-md-6 col-sm-6">
      <div class="card">
          <div class="header">
              <h4 class="title">Programmer</h4>
              <p class="category">Alle programmer for Ola</p>

          </div>
            <div class="content table-responsive table-full-width">
              <table class="table">
                  <thead>
                      <tr>
                          <th class="text-center">#</th>
                          <th>Navn</th>
                          <th>Aktivt</th>
                          <th class="text-right"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="text-center">1</td>                            
                          <td>Styrkeløft</td>
                          <td><span class="active">Aktiv</span></td>
                          <td class="td-actions text-right">

                              <a href="#" rel="tooltip" title="" class="btn btn-success btn-simple btn-xs" data-original-title="Endre">
                                  <i class="fa fa-edit"></i>
                              </a>
                              <a href="#" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Slett" onclick="demo.showSwal('warning-message-and-cofirmation')">
                                  <i class="fa fa-times"></i>
                              </a>
                          </td>
                      </tr>
                      <tr>

                          <td class="text-center">2</td>
                          <td>Kondisjon</td>
                          <td><span class="not-active">Ikke aktiv</span></td>
                          <td class="td-actions text-right">

                              <a href="#" rel="tooltip" title="" class="btn btn-success btn-simple btn-xs" data-original-title="Endre">
                                  <i class="fa fa-edit"></i>
                              </a>
                              <a href="#" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Slett" onclick="demo.showSwal('warning-message-and-cofirmation')">
                                  <i class="fa fa-times"></i>
                              </a>
                          </td>
                      </tr>
                      <tr>
                          <td class="text-center">3</td>
                          <td>Benstyrke</td>
                          <td><span class="not-active">Ikke aktiv</span></td>
                          <td class="td-actions text-right">

                              <a href="#" rel="tooltip" title="" class="btn btn-success btn-simple btn-xs" data-original-title="Endre">
                                  <i class="fa fa-edit"></i>
                              </a>
                              <a href="#" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Slett" onclick="demo.showSwal('warning-message-and-cofirmation')">
                                  <i class="fa fa-times"></i>
                              </a>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <div class="footer">
                <a href="#new" onclick="newProgram();">Nytt program</a>
              </div>
          </div>
      </div>
  </div>
  <div class="col-sm-6">
     <div class="card">
        <div class="header">
            <h4 class="title">Siste notater</h4>
        </div>
        <div class="body">
         <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-target="#collapseOne" href="#" data-toggle="collapse" class="collapsed" aria-expanded="false">
                            Vondt i kneet
                            <b class="caret"></b>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
                    <div class="panel-body">
                        Kunden har fått vondt i kneet etter å ha kjørt knebøy. Skal slutte med øvelsen frem til jeg får veiledet han på sender.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-target="#collapseTwo" href="#" data-toggle="collapse" class="collapsed" aria-expanded="false">
                            Snakket på telefon

                            <b class="caret"></b>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        Kunden har tatt ferie, gave et lite program for å holde ved like uten senter i nærheten. Fokus på egenveksttrening og kondisjon.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-target="#collapseThree" href="#" data-toggle="collapse">
                            Collapse item 3

                            <b class="caret"></b>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
         </div>
        </div>
        <div class="footer">
          <a href="#" onclick="demo.showSwal('html-message')">Se alle notater</a>
        </div>
    </div>
  </div>
</div><!-- /row -->